<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="GoScan" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLDIR" Name="GoScan">
        <Directory Id="APPDIR" Name="app" />
      </Directory>
    </StandardDirectory>

    <Component Id="StartMenuShortcut" Directory="ApplicationProgramsFolder" Guid="*">
      <Shortcut
        Id="GoScanUIShortcut"
        Name="GoScan"
        Description="Findings, checkers e scan de .env"
        Target="[APPDIR]bin\goscan-ui.exe"
        WorkingDirectory="APPDIR" />
      <RemoveFolder Id="CleanApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\rootkit-lab\goscan" Name="installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </Fragment>
</Wix>
